@model TobeyExamination.ViewModel.AddEmployeeViewModel
@{
    ViewBag.Title = "新增員工資料";
}
<h2>新增員工資料</h2>
@using (Html.BeginForm("AddEmployee", "Home", FormMethod.Post))
{
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <table>
        <tr>
            <td>
                @Html.LabelFor(m => m.Name) 
            <span style="color:red">*</span></td>
            <td>
                @Html.TextBoxFor(m => m.Name)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(m => m.EnName) </td>
            <td> 
                @Html.TextBoxFor(m => m.EnName)
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="送出"/></td>
        </tr>
    </table>
}
@if (TempData["message"] != null)
{
    <script type="text/javascript">
        var message = "@Html.Raw(TempData["message"])";
        alert(message);
    </script>
}
